* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins";
  background-color: #ebebeb;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 7vh;
  background-color: #5a5a5a;
  color: #ffffff;
  text-align: center;
  line-height: 7vh;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.build-container {
  width: 100%;
  height: 93vh;
  display: flex;
}

.side-bar {
  width: 20%;
  background-color: #d6d6db;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 7vh;
  left: 0;
  height: 93vh;
  overflow-y: auto;
  z-index: 5;
}

.side-bar h2 {
  padding: 15px;
  text-align: center;
  font-size: 1.2rem;
}

.draggable-element {
  background: #ffffff;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 40px;
  cursor: grab;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #bdbdbd;
}

.draggable-element h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #111827;
}

.draggable-element i {
  margin-left: 50px;
  color: #4b64f2;
}

.canvas-container {
  width: 80%;
  margin-left: 20%;
  margin-top: 7vh;
  height: calc(100vh - 7vh);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  width: 94%;
  background: #ffffff;
  border: 2px dashed #9ca3af;
  padding: 0.2rem;
  min-height: 500px;
  position: relative;
  overflow: auto;
}

.canvas-container h3 {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px;
  color: #111827;
}

.properties {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.properties h3 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #111827;
}

#form-properties {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 15px;
  width: 600px;
  padding: 20px;
}

.form-element {
  display: flex;
  gap: 4px;
  align-items: center;
}

.form-label {
  font-size: 1.1rem;
  font-weight: 500;
  color: #111827;
}

.form-input {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .navbar {
    height: 9vh;
    line-height: 9vh;
  }

  .build-container {
    height: 91vh;
  }

  .side-bar {
    width: 25%;
    top: 9vh;
  }

  .side-bar h2 {
    font-size: 1rem;
  }

  .draggable-element {
    width: 40%;
    border-radius: 8px;
  }

  .draggable-element i {
    margin-left: 0px;
  }

  .draggable-element h4 {
    display: none;
  }

  .canvas-element {
    width: 75%;
  }

  .canvas-container {
    width: 75%;
    margin-left: 25%;
    margin-top: 9vh;
  }

  #form-properties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    padding: 10px;
  }
}
